form{
  width:100%;  
}
.questionAI{
    background-color: #f6f7fb;
    border: 5px;
    padding-top: 5%;
    padding-bottom: 5%;
}

input{
    width: 50%;
    padding: 5px 10px;
}

.TRX-Button {
    background-color: #ff0200; /* Red */
    border: none;
    color: black;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }